#login
{
    color:honeydew;
    font-size:medium;
    border: 2px solid black;
    background-color: black;
    margin-left: 5px;
    border-radius: 8px;
}   
#btn
{
    margin-left: 50%;
    margin-top: 10px;
}
#div1
{
    margin-top: 10px;
    display: none;
}
.main
{
    background-color: cadetblue;
    margin: 25px 100px 75px 100px;
}
#btn-login-wala
{
    margin-left: 48%;
    margin-top: 10px;
}
.form-heading
{
    text-align: center;
}
.card1
{
    margin: 10% 30% 50px 30%;
}




